* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
/* header*/

header {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}

/* header card */

.card {
    height: 90vh;
    width: 85%;
    border-radius: 30px;
    background-color: black;
    display: flex;
    overflow: hidden;
    padding-top: 30px;
}


.card-text {
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.card-header h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.header-button {
    background-color: red;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border: 0ch;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
/* header card button icon*/
.fa-solid, .fas {

    margin: 3px 0 0 15px;
  }
  


.card-img {

    height: 100%;
    width: 50%;
    background-color: black;

}

.card-img img {

    height: 100%;

}

/* header card end */

/* main start*/
main{
    margin-top: 150px;
}


.main {
    display: flex;
    justify-content: center;
}



/*main button card style hear*/
.button {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 34px;
    border-radius: 10px;
    background-color: black;
    margin-right: 25px;

}

.button-all {
    margin-top: 30px;
    font-size: 20px;
    padding: 15px 20px;
    margin: 5px 0 5px 0;
    border: 0ch;
    border-radius: 5px;
}
/*main button card end */

/* card section and card blog start */
.card-blog {
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #888888;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.card-blog-text {
    padding: auto;
   
    margin: 15px;
}
/* card blog icon start */

.icon {
    margin-top: 30px;
    display: flex;
    gap: 40px;

}

.time {
    display: flex;
    gap: 5px;

    align-items: center;

}


.chat {
    display: flex;
    gap: 5px;
    align-items: center;

}
/* card blog icon end*/
/*card section and card blog end */


/* footer start */
footer{
    margin: 90px 0 0 0;
    background-color: black;
    color: white;
    padding: 90px 0 90px 0;
}
footer h1{
    text-align: center;
    
}
hr{
    margin-top: 60px;
}

.footer-small-text{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 60px;
}

/*--------------------------------------------------------------
                    mobail phone screen only
-------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    header{
        height: 100%;
        
    }
    .card{ 
        align-items: center;
text-align: center;
       justify-content: center;
        flex-direction: column;
        height: 100%
    }
    .card h1{
        font-size: 30px;
    }
    .card-img  {
margin-left: 50px;
        height: 100%;
        width: 100%;
    
    }
    main{
        margin-top: 50px;
    }

.main {
    flex-direction: column;
    align-items: center;
}
.button-card{
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.button {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 34px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 20px;
    
    

}

.card-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
}
.footer-small-text{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-solid, .fas {

    margin: 3px 0 0 4px;
  }

  }
  @media only screen and (max-width: 600px){
    
  }

